* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
}

canvas {
    background-image: url("assets/background/bg.png");
}

#pontuacao {
    display: block;
    text-align: center;
    margin: 20px 20px;
}

#pontos-atual {
    font-family: Arial, Helvetica, sans-serif !important;
    color: #fff;
    display: block;
    font-size: 2em;
}

#sessao-pontos {
    font-family: Arial, Helvetica, sans-serif !important;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1.5em;
    color: #fff;
    border: 2px solid #fff;
    height: 576px;
    width: 356px;
    background-color: #0a0a0a;
}

#pontuacoes-salvas {
    margin-top: 20px;
}

ul{
    list-style-type: none !important;
}

#title-list{
    font-size: 1.3em !important;
}

#rodape-jogo {
    font-family: Arial, Helvetica, sans-serif !important;
    color: #fff;
    text-align: center;
    width: 100%;
    border: 2px solid #fff;
    height: 115px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0; 
}